<div class="row">
    <div class="col s12">
        <h3>Список книг</h3>
        {% if app.user %}
            <a class="btn waves-effect waves-light" href="{{ path('book_new') }}">Добавить книгу</a>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Название книги</th>
                <th>Автор</th>
                <th>Дата прочтения</th>
                <th>Файл книги</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in pagination %}
                <tr>
                    <td style="width: 250px"><img style="max-width: 240px; max-height: 350px" class="responsive-img" src="/uploads/photos/{{ book.bookPhotoName }}"/></td>
                    <td class="book_text">{{ book.name }}</td>
                    <td class="book_text">{{ book.author }}</td>
                    <td class="book_text">{{ book.dateRead ? book.dateRead|date('d-m-Y H:i:s') : '' }}</td>
                    <td class="book_text"><a href="/book/{{ book.id }}/read"/>Читать книгу</td>
                    {% if app.user %}
                    {% if app.user is same as (book.createdBy)%}
                        <td class="center-align">
                            <a class="btn waves-effect waves-light" href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>
                            {{ include('book/_delete_form.html.twig') }}
                        </td>
                    {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col s12 center-align">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
